/* Write your CSS here */
.main-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.image {
  height: 70px;
  width: 50px;
}

.ipl-logo {
  display: flex;
  padding: 20px;
}
