/* Write your CSS here */
.teamMatchBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #5755a7;
  padding: 30px;
}

.ulList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
